
path.vlbg
{
  stroke: rgb(210,29,29);
  /*stroke: white; */
  stroke-width: 4px;
  fill: none;
}


path.community 
{
  /*fill: #e3e1d7; */
  /*stroke: rgb(210,29,29);*/
  /*stroke: white;*/
  stroke-width: 2px;
  opacity: 1;
}



path
{
  stroke: gray;
  stroke-width: 1px;
  fill: none;
}

  /*
path.ele500
{
  stroke: blue;
  stroke-width: 1px;

}


path.ele1000
{
  stroke: green;
  stroke-width: 1px;
  
}

path.ele1500
{
  stroke: cyan;
  stroke-width: 2px;

}

path.ele2000
{
  stroke: orange;
  stroke-width: 2px;
}

path.ele2500
{
  stroke: pink;
  stroke-width: 2px;
}

path.ele3000
{
  stroke: steelblue;
  stroke-width: 2px;
}

   */


div.tooltip {
    position: absolute;
    text-align: center;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 4px;
    pointer-events: none;
    opacity: 0;
}
